body {
  background: #e6e6fa;
}

.joke-container {
  background: #9696d4;
  padding: 30px;
  width: 70vh;
  margin: 100px auto 0 auto;
}

.joke-text {
  height: 10vh;
  color: #e6e6fa;
}

.font-weight-bold {
  font-weight: 600;
}

.btn-outline-primary {
  background: #9696d4;
  color: #e6e6fa;
  border-color: #e6e6fa;
}

.btn-outline-primary:hover {
  color: #9696d4;
  background-color: #e6e6fa;
  border-color: #e6e6fa;
}
